{% extends 'base.html.twig' %}

{% block title %}Товары{% endblock %}

{% block body %}
    <h1>Товары</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Изображение</th>
                <th>Категория</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td><img src={{ product.image }} alt={{ product.name }} style="width:150px"/></td>
                <td>{{ product.category }}</td>
                <td>
                    <a href="{{ path('app_admin_products_show', {'id': product.id}) }}"><i class="fa-regular fa-eye"></i></a>
                    <a href="{{ path('app_admin_products_edit', {'id': product.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('app_admin_products_new') }}">Добавить новый</a>
{% endblock %}
