{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <h1>Категории</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Изображение</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <img src={{ category.image }} class="w-50"/>
                </td>
                <td>
                    <a href="{{ path('app_admin_categories_show', {'id': category.id}) }}"><i class="fa-regular fa-eye"></i></a>
                    <a href="{{ path('app_admin_categories_edit', {'id': category.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('app_admin_categories_new') }}">Добавить категорию</a>
{% endblock %}
