{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <h1>Пользователи</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Роль</th>
                <th>Верификация</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="fa-regular fa-eye"></i></a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_admin_user_new') }}">Создать нового</a>
{% endblock %}
